.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1340px;
    padding-top: 40px;
}

.idle-activity {
    padding: 20px;
    text-align: center;
}
.modal button {
    padding: 5px 20px;
    border: 1px solid #777;
    border-radius: 6px;
    cursor: pointer;
}